<%- layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-8">
    <h1>Campground</h1>
    <div class="card mb-3">
      <div
        id="YelpCampImageControls"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <% images.forEach((file, i) => { %>
          <div class="carousel-item <%= i === 0 ? "active" : "" %> ">
            <img class="d-block w-100" src="<%= file.url %> " alt="" />
          </div>
          <% }) %>
        </div>
        <a
          class="carousel-control-prev"
          href="#YelpCampImageControls"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#YelpCampImageControls"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= campground.title%></h5>
        <p class="card-text"><%= campground.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">
          <%= campground.location%>
        </li>
        <li class="list-group-item text-muted">
          Submitted by <%= user.username%>
        </li>
        <li class="list-group-item">$<%= campground.price%>/night</li>
      </ul>
      <% if (currentUser && (user.username ===
      currentUser.username)) {%>
      <div class="card-body">
        <a
          class="card-link btn btn-info"
          href="/campgrounds/<%=campground.id%>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%=campground.id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
  <div class="col-4">
    <h1>Map</h1>
    <div id='map' style='width: 400px; height: 300px;'></div>
    <% if (currentUser) {%>
      <h1>Reviews</h1>
    <div class="mb-3">
      <form
        action="/campgrounds/<%=campground.id%>/reviews"
        method="POST"
        class="needs-validation"
        novalidate
      >
        <fieldset class="starability-basic">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="0"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea"
            style="height: 100px"
            name="review[body]"
            required
          ></textarea>
        </div>
        <button class="btn btn-success mt-3">Review</button>
      </form>
    </div>
    <% } %> <% if (reviews.length) { %> <% for (let review of
    reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="text-muted"><%= review.username %></h5>
        <p class="starability-result" data-rating="<%= review.rating %>">
          Rated: 3 stars
        </p>
        <div>
          <p><%= review.body %></p>
          <% if (currentUser && (review.username ===
          currentUser.username)) {%>
          <form
            class="d-inline"
            action="/campgrounds/<%=campground.id%>/reviews/<%=review.id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
    <% }} %>
  </div>
</div>
<script>
    const mapToken = "<%= process.env.MAPBOX_TOKEN %>";
    const campground = <%- JSON.stringify(campground) %>;
</script>
<script src="/javascripts/showMap.js"></script>
